{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "no-console": "warn",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "import/no-extraneous-dependencies": ["off"]
  },
  "globals": {
    "navigator": false,
    "fetch": false,
    "alert": false
  }
}
